html, body {
    height: 100%;
    margin: 0;
  }
 body
 {
    position: relative;
    background-image: url(../img/screen-2.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
 }

.creepy
{
   display: block;
   width: 7%;
   height: 29%;
   background-color: blue;
   position: absolute;
   right: 0%;
   top: 56%;
   opacity: 0;
}

.highcreepy
{
   display: block;
   width: 25%;
   height: 15%;
   background-color: blue;
   position: absolute;
   right: 8%;
   top: 40%;
   opacity: 0;
   transform: rotate(23deg)
}

.overlay{
    position: fixed;
    left: 0px;
    top:0px;
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display:none;
    z-index: 1;
}

.popup{
    margin: 20% auto;
    width: 70%;
    background-color: rgb(242, 231, 191, 0.9);
    border-radius:10px;
    box-shadow: 15px 20px 0 rgba(0, 0, 0, 0.5);
    padding: 1em;
    text-align:center;
    font-family:"Amatic SC", cursive; 
    font-size: 30px;
}

.displayBlockFail
 {
     display : none;
     color : red;
 }
 .displayBlockSucces
 {
     display : none;
 }

.fontDoor
{
   display: block;
   width: 10%;
   height: 23%;
   position: absolute;
   right: 19%;
   bottom: 20%;
   opacity: 0;
}

.input 
{
width: 18%;
}

a{
    text-decoration: none;
}

a:visited{
    color:initial;
}

.board{
    display: block;
    width: 10%;
    height: 22%;
    position: absolute;
    left: 50%;
    top: 45%;
    opacity: 0;
}

.book{
    display: block;
    width: 4%;
    height: 6%;
    position: absolute;
    left: 42%;
    bottom: 17%;
    opacity: 0;
    }

    .btnClose{
        display: flex;
        margin: auto;
        text-align: center;
    }