<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="assets/css/chambre1.css">
    <title>Bienvenue dans la chambre</title>
</head>
<body>
    <button id="btnPopup1" class="oreiller"></button>
        <div id="overlay1" class="overlay">
            <div id="popup1" class="popup">
                    <button id="btnClose1" class="btnClose">OK</button>
                <p>Pourquoi je fais ça moi ? J'ai pas envie de dormir, je veux sortir !</p>
            </div>
        </div>
    <button id="btnPopup2" class="coffrefort"></button>
        <div id="overlay2" class="overlay">
            <div id="popup2" class="popup">
                    <button id="btnClose2" class="btnClose">OK</button>
                <p>J'ai remis le tableau pour cacher le coffre ...</p>
            </div>
        </div>
    <button id="btnPopup3" class="coffre"></button>
        <div id="overlay3" class="overlay">
            <div id="popup3" class="popup">
                    <button id="btnClose3" class="btnClose">Cool, il faut que je remplace les 2 ampoules grillées</button>
                <p>Génial ! Le coffre s'ouvre. Tout ça pour 2 ampoules ...</p>
            </div>
        </div>
    <button id="btnPopup4" class="miror"></button>
        <div id="overlay4" class="overlay">
            <div id="popup4" class="popup">
                    <button id="btnClose4" class="btnClose">LOL</button>
                <p>C'est quoi cette horreur ? Oh mon dieu mais c'est moi, j'ai vraiment une mine affreuse ...</p>
            </div>
        </div>
    <button id="btnPopup5" class="lampe1"></button>
        <div id="overlay5" class="overlay">
            <div id="popup" class="popup">
                    <button id="btnClose5" class="btnClose">OK</button>
                <p>Je place une ampoule neuve... YES ! Que la lumière fût</p>
            </div>
        </div>
    <button id="btnPopup6" class="lampe2"></button>
        <div id="overlay6" class="overlay">
            <div id="popup6" class="popup">
                    <button id="btnClose6" class="btnClose">OK</button>
                <p>La lampe est allumée, l'ampoule, ça marche bien !</p>
            </div>
        </div>
    <button id="btnPopup7" class="lampe3"></button>
        <div id="overlay7" class="overlay">
            <div id="popup7" class="popup">
                    <button id="btnClose7" class="btnClose">OK</button>
                <p>La lampe est allumée, l'ampoule, ça marche bien !</p>
            </div>
        </div>
    <button id="btnPopup8" class="lampe4"></button>
        <div id="overlay8" class="overlay">
            <div id="popup8" class="popup">
                    <button id="btnClose8" class="btnClose">OK</button>
                <p>Je place une ampoule neuve... YES ! Que la lumière fût</p>
            </div>
        </div>
    <button id="btnPopup9" class="table"></button>
        <div id="overlay9" class="overlay">
            <div id="popup" class="popup">
                    <button id="btnClose9" class="btnClose">OK</button>
                <p>L'inscription marquée est toujours la même …</p>
            </div>
        </div>
    <button id="btnPopup10" class="porte"></button>
        <div id="overlay10" class="overlay">
            <div id="popup" class="popup">
                    <button id="btnClose5" class="btnClose"><a href="salle_de_bain.php">Ouvrir la porte </a></button>
                <p>La porte s'ouvre et j'aperçois une salle de bain. Il y a marqué que je ne suis pas une lumière… Mais qui s'amuse avec mes nerfs, j'ai vraiment peur …</p>
            </div>
        </div>
<script src="assets/scripts/script_chambre2.js"></script>
</body>

</html>