<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The end</title>
    <link rel="stylesheet" href="/assets/css/end.css">
</head>
<body>
    <div>
        <h1>The end</h1>
        <p>Merci d'avoir jouer ! Pour tout retour d'expérience : lou.lesage09@gmail.com</p>
    </div>
</body>
</html>