<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link type="text/css" rel="stylesheet" href="assets/css/style_salle_de_bain3.css">
   <title>Bienvenue dans la salle de bain</title>
</head>
<body>

   <button class="statue" id="statue" onclick="statueTurn()"></button>
   <div id="c_statue_block" class="overlay">
      <div class="popup">
         <p>Je suis assez haut, je fais pivoter la tête de la "belle"</p>
         <a href = 'salon1.php'><button id="c_statue_block_off" class="btnClose">Le sol se dérobe sous mes pieds lorsque je fais pivoter la tête ! Je tombe !</button></a>
      </div>
   </div>


   <button class="chair" id="chair"></button>
   <div id="c_chair_block" class="overlay">
      <div class="popup">
         <p>Une chaise. Même percée elle va me servir.</p>
         <button id="c_chair_block_off" class="btnClose">Je déplace la chaise</button>
      </div>
   </div>

   <script src="assets/scripts/script_salle_de_bain3.js"></script>
</body>
</html>
