<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link type="text/css" rel="stylesheet" href="assets/css/style_salle_de_bain.css">
   <title>Bienvenue dans la salle de bain</title>
</head>
<body>
   <button class="statue" id="statue"></button>
   <div id="c_statue_block" class="overlay">
      <div class="popup">
         <p>Belle statue mais que fait-elle la ?...</p>
         <button id="c_statue_block_off" class="btnClose">Je n'y touche pas pour le moment.</button>
      </div>
   </div>

   <button class="dressing_table" id="dressing_table"></button>
   <div id="c_dressing_table_block" class="overlay">
      <div class="popup">
         <p>J’ai trouvé un morceau de parchemin jauni. Dessus il est marqué :</p></br>
         <p>La goutte d’eau fait déborder le vase!</p>
         <button id="c_dressing_table_block_off" class="btnClose">Je le garde.</button>
      </div>
   </div>

   <button class="sink" id="sink"></button>
   <div id="c_sink_block" class="overlay">
      <div class="popup">
         <p>J'ouvre le robinet. De l’eau noire nauséabonde coule dans le siphon.</p>
         <button id="c_sink_block_off" class="btnClose">Pouha ! Je ferme le robinet.</button>
      </div>
   </div>

   <button class="bath" id="bath"></button>
   <div id="c_bath_block" class="overlay">
      <div class="popup">
         <p>J’ai trouvé une bonde. Elle pourrait me servir...</p>
         <a href = 'salle_de_bain2.php'> <button id="c_bath_block_off" class="btnClose">Je la prends.</button></a>
      </div>
   </div>

   <script src="assets/scripts/script_salle_de_bain.js"></script>
</body>
</html>
