<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link type="text/css" rel="stylesheet" href="assets/css/style_salle_de_bain2.css">
   <title>Bienvenue dans la salle de bain</title>
</head>
<body>

   <button class="statue" id="statue"></button>
   <div id="c_statue_block" class="overlay">
      <div class="popup">
         <p>La tête semble pouvoir pivoter mais je suis trop petit.</p>
         <a href = 'salle_de_bain3.php'><button id="c_statue_block_off" class="btnClose">J’ai besoin d’un support sur lequel monter..</button></a>
      </div>
   </div>

   <button class="dressing_table" id="dressing_table"></button>
   <div id="c_dressing_table_block" class="overlay">
      <div class="popup">
         <p>Pourquoi je regarde ! C'est vide...</p>
         <button id="c_dressing_table_block_off" class="btnClose">Je fatigue.</button>
      </div>
   </div>

   <button class="sink" id="sink"></button>
   <div id="c_sink_block" class="overlay">
      <div class="popup">
         <p>Je met la bonde et rempli l'évier. Un texte se reflette dans l'eau.</p></br>
         <p>"La belle aimerait se regarder dans le miroir"</p>
         <button id="c_sink_block_off" class="btnClose">Qui est la belle ?</button>
      </div>
   </div>

   <script src="assets/scripts/script_salle_de_bain2.js"></script>
</body>
</html>
