<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/Salon1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Salon</title>
</head>
<body>
    <button id="btnJournal" class="journal"></button>
       <div id="overlay1" class='overlay'>
           <div id='popup1' class='popup'>
               <h3>
                   A la Une :
                   <span id='btnClose1' class='btnClose'>&times;</span>
               </h3>
               <p>
                   «De soudaines disparitions dans la région inquiètent les habitants de Rochecorbon,
                    la police essaye de résoudre ce problème depuis plusieurs semaines sans résultats … ».
               </p>
           </div>
       </div>

    <button id="btnImage" class="image"></button>
       <div id="overlay2" class='overlay'>
           <div id='popup2' class='popup'>
               <h3>
                   Peinture :
                   <span id='btnClose2' class='btnClose'>&times;</span>
               </h3>
               <p>
                   Que représente cette image ? Ah mais c’est l’image d’une femme sur un bûcher … C’est vraiment glauque !
               </p>
           </div>
       </div>

    <button id="btnLustre" class="lustre"></button>
       <div id="overlay4" class='overlay'>
           <div id='popup4' class='popup'>
               <h3>
                   Lustre :
                   <span id='btnClose4' class='btnClose'>&times;</span>
               </h3>
               <p>
                   Tiens donc... Pourquoi une seule des ampoules éclaire en rouge ?
               </p>
           </div>
       </div>

    <button id="btnTableau" class="tableau"></button>
       <div id="overlay3" class='overlay'>
           <div id='popup3' class='popup'>
               <h3>
                   Tableau :
                   <span id='btnClose3' class='btnClose'>&times;</span>
               </h3>
               <p>
                    Il y a quelque chose derrière ce tableau … Tiens une clef ça doit ouvrir quelque chose, et il y a un message avec
                    « Ouvrez-la et vous connaitrez votre destin. ».
               </p>
           </div>
       </div>
    <button id="btnChaise" class="chaise"></button>
       <div id="overlay7" class='overlay'>
           <div id='popup7' class='popup'>
               <h3>
                   Note de la chaise :
                   <span id='btnClose7' class='btnClose'>&times;</span>
               </h3>
               <p>
                   Il y a une lettre sur cette chaise avec un message, il y est écrit dessus : « je nais noir,
                   puis je vis rouge, et je meurs gris. Je vous rassemble les soirs d'été, pour tous vous permettre de manger ».
                <br>
                </p>
                <div>
                    <label for="code">Mon code est </label>
                        <input name="code" id="code" placeholder=" _ _ _ _ _ _ _">
                        <h1 class="displayBlockFail">Mauvais code attention !</h1>
                        <h1 class="displayBlockSucces"><a href="/salon2.php"><button><a href="/salon2.php">Continuer à chercher !</a></button></h1>
                </div>
                <div>
                    <button onclick="controle()">Valider mon code!</button>
                </div>
           </div>    
</body>
<script src="assets/scripts/script_salon.js"></script>
</html>